<% layout('layouts/boilerplate.ejs') %>

<div class="row">
    <h1 class="text-center">New Restaurant</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/restaurants" method="POST" novalidate class="validation-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Restaurant Name</label>
                <input class="form-control" type="text" name="restaurant[title]" id="name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Add a Name!
                </div>
            </div>

            <div class="mb-3 ">
                <div class="input-group">
                    <label class="input-group-text" for="priceRange">Price Range</label>
                    <select class="form-select" id="priceRange" name="restaurant[priceRange]" required>
                        <option selected value="">Choose...</option>
                        <option value="$">$</option>
                        <option value="$$">$$</option>
                        <option value="$$$">$$$</option>
                    </select>
                    <div class="invalid-feedback">
                        Choose the Price Range!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="restaurant[location]" id="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Add The Location!
                </div>
            </div>

            <div class="mb-3">
                <label for="image" for="image" class="form-label">Add Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Add an Image!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="restaurant[description]" id="description"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Add a Description!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Restaurant</button>
            </div>

        </form>
        <a href="/restaurants" class="btn btn-danger">Go back</a>
    </div>
</div>